In [35]:
using Pkg

In [36]:
Pkg.add("SQLite")
Pkg.add("DataFrames")

   Resolving package versions...
  No Changes to `~/.julia/environments/v1.9/Project.toml`
  No Changes to `~/.julia/environments/v1.9/Manifest.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.9/Project.toml`
  No Changes to `~/.julia/environments/v1.9/Manifest.toml`

In [37]:
using SQLite

# Create system design courses database

In [38]:
educatives_system_design_courses = SQLite.DB("educatives_system_design_courses")

SQLite.DB("educatives_system_design_courses")

In [39]:
#ensures if table already exists than drop it and create a new one

SQLite.execute(educatives_system_design_courses, "DROP TABLE educatives_system_design_courses")

LoadError: SQLiteException("no such table: educatives_system_design_courses")

# Create system design courses table

In [40]:
SQLite.execute(educatives_system_design_courses, "CREATE TABLE educatives_system_design_courses(course_id INT NOT NULL PRIMARY KEY, course_name TEXT NOT NULL , course_description TEXT NOT NULL, course_creator TEXT NOT NULL)")

101

In [41]:
SQLite.tables(educatives_system_design_courses)

1-element Vector{SQLite.DBTable}:
 SQLite.DBTable("educatives_system_design_courses", Tables.Schema:
 :course_id           Union{Missing, Int64}
 :course_name         Union{Missing, String}
 :course_description  Union{Missing, String}
 :course_creator      Union{Missing, String})

# Insert into system design courses database

In [42]:
SQLite.execute(educatives_system_design_courses,"INSERT INTO educatives_system_design_courses VALUES (1,'Grokking system design interview for engineers, mentors and managers', 'A course designed to test your system design skills with an AI interviewer','Ibrahim Nadir Khan')")

101

In [43]:
SQLite.execute(educatives_system_design_courses,"INSERT INTO educatives_system_design_courses VALUES (2,'System design crash course','A course for a speedy system design interview prep', 'Bismillah Jan')")

101

# Retrieve system design courses data from table

In [44]:
educatives_courses = SQLite.DBInterface.execute(educatives_system_design_courses,"SELECT * FROM educatives_system_design_courses")
educatives_courses_data_frame = DataFrames.DataFrame(educatives_courses)

2×4 DataFrame
 Row │ course_id  course_name                        course_description        ⋯
     │ Int64      String                             String                    ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │         1  Grokking system design interview…  A course designed to test ⋯
   2 │         2  System design crash course         A course for a speedy sys
                                                               2 columns omitted

# Update course creator name in system design courses table

In [45]:
SQLite.execute(educatives_system_design_courses,"UPDATE educatives_system_design_courses SET course_creator = 'Umer Daraz' WHERE course_id = 1 ")

101

In [46]:
educatives_courses = SQLite.DBInterface.execute(educatives_system_design_courses,"SELECT * FROM educatives_system_design_courses")
educatives_courses_data_frame = DataFrames.DataFrame(educatives_courses)

2×4 DataFrame
 Row │ course_id  course_name                        course_description        ⋯
     │ Int64      String                             String                    ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │         1  Grokking system design interview…  A course designed to test ⋯
   2 │         2  System design crash course         A course for a speedy sys
                                                               2 columns omitted

# Drop system design courses table

In [47]:
SQLite.execute(educatives_system_design_courses, "DROP TABLE educatives_system_design_courses")

101

In [48]:
educatives_courses = SQLite.DBInterface.execute(educatives_system_design_courses,"SELECT * FROM educatives_system_design_courses")
educatives_courses_data_frame = DataFrames.DataFrame(educatives_courses)

LoadError: SQLiteException("no such table: educatives_system_design_courses")